/*initiliser le projet*/
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* declaration des variables*/
html{
    --var-bg-color:#7743e9;
    --var-secondary-color:#6f65ca;
    --var-text-color:#fff;
    --var-text-color-dark:#333;
    --var-bg-light:#f0f4ff;
    --var-bg-dark:#d3c9f3;
}
/*police*/
